
/* card hover effect */
.doctor-card:hover{
    background-color: rgba(12, 14, 13, 0.966);
    color: white;
    cursor: pointer;
    transform:  scale(1.1) ;
    transition: transform .5s ease-in;
}