/* about banner style */
.about-banner{
    background-image: url(../../images/banner1.jpg);
    height: 525px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.text-area{
    margin-left: 40px;
    margin-top: 20px;
}

/* style for responsive */
@media only screen and (max-width:768px){
    .about-banner{
        background-image: none;
        height: 100%; 
    
    }
    .text-area{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}