
/* link style */
.nav-item a{
    text-decoration: none;
    font-weight: bold;
    color: gray;
    margin-left: 15px;
}

.nav-item a:hover{
    color: #09cc84;
}

/* responsive for mobile */
@media only screen and (max-width: 768px) {
    .navbar-item{
       display: flex;
       justify-content: center;
       align-items: center;
    }
}  
    
