.App {
  
}

.regular-btn{
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 10px 10px 10px 25px;
    background-color: #09cc84;
    color: #fff;
    font-weight: bold;
}

.green-text{
    color: #09cc84;
}