/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

/* normal button style */
.regular-btn{
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 1% 1% 1% 2.5%;
    background-color: #09cc84;
    color: #fff;
    font-weight: bold;
}

.regular-btn:hover{
    background-color: #d42708; 
}

/* text color */
.green-text{
    color: #09cc84;
}
.grey-text{
    color: lightgrey;
}
/* extra margin for top  */
.marginTop {
    margin-top: 100px;
}
